<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">					
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                {% if ratings|length != 0 %}
                    <li><a href="clear">Clear all</a></li>
                {% else %}
                    <li><a href="import">Import data</a></li>
                {% endif %}
            </ul>				
        </nav><br><br><br><br>        
		<h2>HW7-Django Exercise</h2>
        <form action="search" method="GET" onsubmit="return check()">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6 col-md-4">
                <div class="input-group">
                    <input type="number" min="1" class="form-control" placeholder="Search user" name="user_id"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </form><br>

        <form action="recommend" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6 col-md-4">
                <div class="input-group">
                    <input type="number" min="1"max="671" class="form-control" placeholder="Recommend movie" name="movie_id"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </form>      
        <br>        

        <div class="row">
            <form action="update" method="POST">
                {% csrf_token %}        
                <div class="col-xs-4"><input type="number" min="1" class="form-control" placeholder="User" name="user"/></div>
                <div class="col-xs-4"><input type="number" min="1" class="form-control" placeholder="Movie" name="movie"/></div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="number" step="0.5" min="0" max="5" class="form-control" placeholder="Edit Rating" name="rating"/>
                        <div class="input-group-btn">                        
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>    
        </div>
        {% if messages %}
            {% for message in messages %}
            <br>
            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>userId</th>
						<th>movieId</th>
						<th>ratings</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
                    {% for rating in ratings %}
					<tr id="tr_{{ rating.id }}">
						<td>{{ rating.user_id }}</td>
						<td>{{ rating.movie_id }}</td>
						<td>{{ rating.rating }}</td>
                        <td>
                            <form action="delete" method="POST">
                                {% csrf_token %}                           
                                <input type="hidden" name="deleteId" value="{{ rating.id }}"/>                        
                                <button class="btn btn-link" style="outline:none" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>
<script>
    function check(){
        if(!$("input[name='user_id']").val()){
                alert('請填入user_id')
                return false
            }
        return true        
    }

</script>
</html>